<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\webchat.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" />
  </system.webServer>



  <system.net>
    <mailSettings>
      <smtp from="your_email@gmail.com">
        <network
          host="smtp.gmail.com"
          port="587"
          enableSsl="true"
          userName="felopater.remon2020@gmail.com"
          password="hwwe koiq xnyp ahhf" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>